{
    // Position the bar at the top of the screen
    "layer": "top",
    "position": "top",

    // Define the modules to be displayed
    "modules-left": [],
    "modules-center": [],
    "modules-right": ["clock"],

    // Configuration for the clock module
    "clock": {
        // Format to display the time
        "format": "{:%H:%M}",
        "tooltip-format": "<big>{:%Y-%m-%d}</big>\n<tt>{calendar}</tt>"
    },
}
