{    

    "layer": "top",
    "position": "top",
    "height": 40,

    "modules-left": ["hyprland/workspaces", "hyprland/window"],
    "modules-center": [],
    "modules-right": ["clock"],

    "hyprland/workspaces": {
        "persistent-workspaces": {
            "1": [],
            "2": [],
            "3": [],
            "4": [],
            "5": [],
            "6": [],
            "7": [],
            "8": [],
            "9": [],
            "10": []
        },
        "format": "{icon}",
        "format-icons": {
            "default": "○",
            "active": "●",
            "persistent": "○"
        }
    },
    "hyprland/window": {
        "format": "{}",
        "rewrite": {
            "(.*) - Mozilla Firefox": "🌎 $1",
            "(.*) - zsh": "> [$1]"
        },
    },

    "clock": {
        // Format to display the time
        "format": "{:%A, %Y-%m-%d, %H:%M:%S}",
        "tooltip-format": "<big>{:%Y-%m-%d}</big>\n<tt>{calendar}</tt>"
    },
}
